Repository jfoucher/seeq: changes, and which GitLab CI jobs are due for each by the changed paths.
All: erc, drc, out, pages

.gitlab-ci.yml:

stages:
  - run_erc
  - run_drc
  - gen_fab
  - deploy_pages

erc:
  image: setsoft/kicad_auto:dev_k6
  stage: run_erc
  script:
    - "cd hardware && [ -f *.kicad_sch ] && kibot -c .kibot.yaml -d ./Fabrication -s update_xml,run_drc -i"
  
  artifacts:
    when: always
    paths:
      - hardware/Fabrication/
  rules:
    - if: '$CI_COMMIT_TAG'
      when: always
      changes:
        paths:
          - "hardware/seeq.kicad_sch"
        compare_to: 'main'

drc:
  image: setsoft/kicad_auto:dev_k6
  stage: run_drc
  script:
    - "cd hardware && [ -f *.kicad_pcb ] && kibot -c .kibot.yaml -d ./Fabrication -s update_xml,run_erc -i"
  artifacts:
    when: always
    paths:
      - hardware/Fabrication/

  rules:
    - if: '$CI_COMMIT_TAG'
      when: on_success
      changes:
        paths:
          - "hardware/seeq.kicad_pcb"
        compare_to: 'main'


out:
  image: setsoft/kicad_auto:dev_k6
  stage: gen_fab
  script:
    - "cd hardware && [ -f *.kicad_pcb ] && kibot -d ./Fabrication -c .kibot.yaml --skip-pre update_xml,run_drc,run_erc print_front gerbers drill zip render print_sch csv-bom html-bom && rm -rf ./Fabrication/Gerbers"
  artifacts:
    when: always
    paths:
      - hardware/Fabrication/
  rules:
    - if: '$CI_COMMIT_TAG'
      when: on_success
      changes:
        paths: 
          - "hardware/seeq.kicad_sch"
          - "hardware/seeq.kicad_pcb"
        compare_to: 'main'

pages:
  image: ruby:2.6
  variables:
    JEKYLL_ENV: production
    LC_ALL: C.UTF-8
  stage: deploy_pages
  script:
    - gem install bundler
    - cd docs && bundle install && cd ../
    - cd docs && find . -type f -exec sed -i 's/___VERSION___/'"$CI_COMMIT_TAG"'/g' {} \;  && cd ../
    - cd docs && bundle exec jekyll build -d ../public
    - mkdir ../public/fabrication
    - cp -aR ../hardware/Fabrication/* ../public/fabrication/
    - apt-get update -yqq && apt-get install -y -qq git curl unzip gnupg rsync
    - ls -la
    - 'which ssh-agent || ( apt-get update -y && apt-get install openssh-client -y )'
    - eval $(ssh-agent -s)
    - echo "$SSH_PRIVATE_KEY" | tr -d '\r' | ssh-add - > /dev/null
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
    - which ssh-keyscan
    - ssh-keyscan -p 2543 144.76.104.209 >> ~/.ssh/known_hosts
    - chmod 644 ~/.ssh/known_hosts
    - rsync -rv -e "ssh -p 2543" ../public/* deploy@144.76.104.209:/var/www/6px.eu/seeq

  artifacts:
    paths:
      - public
  rules:
    - if: '$CI_COMMIT_TAG'
      when: on_success
      changes:
        paths:
          - "docs/**/*"
        compare_to: 'main'

fix docs + add bottom 3D render
  .gitlab-ci.yml
  docs/_includes/footer.html
  docs/_includes/head.html
  docs/_includes/header.html
  docs/img/logo.svg
  docs/index.md
  hardware/.kibot.yaml
  readme.md
Due: pages

fix images
  docs/index.md
  readme.md
Due: pages

try to add 3D fo switches
  hardware/fp-info-cache
  hardware/gerbers/gerbers.zip
  hardware/gerbers/seeq-B_Cu.gbr
  hardware/gerbers/seeq-B_Mask.gbr
  hardware/gerbers/seeq-B_Paste.gbr
  hardware/gerbers/seeq-B_Silkscreen.gbr
  hardware/gerbers/seeq-Edge_Cuts.gbr
  hardware/gerbers/seeq-F_Cu.gbr
  hardware/gerbers/seeq-F_Mask.gbr
  hardware/gerbers/seeq-F_Paste.gbr
  hardware/gerbers/seeq-F_Silkscreen.gbr
  hardware/gerbers/seeq-job.gbrjob
  hardware/gerbers/seeq.drl
  hardware/mod/3D/SW_Cherry_MX_PCB.stp
  hardware/seeq.kicad_pcb
Due: drc, out

stp files
  hardware/fp-info-cache
  hardware/seeq.kicad_pcb
Due: drc, out

color
  docs/index.md
  hardware/.kibot.yaml
Due: pages

image
  docs/_includes/header.html
  readme.md
Due: pages

.
  hardware/seeq.kicad_pcb
Due: drc, out

Add download links.
  docs/index.md
  hardware/seeq.kicad_pcb
Due: drc, out, pages

links on their own line
  docs/index.md
Due: pages

Add jlc order number
  hardware/seeq.kicad_pcb
  hardware/seeq.kicad_prl
  hardware/seeq.kicad_pro
Due: drc, out

Fix ERC
  hardware/seeq.kicad_pro
Due: none

Add licenses
  .gitignore
  .vscode/c_cpp_properties.json
  .vscode/settings.json
  .vscode/tasks.json
  LICENSE
  docs/LICENSE
  docs/_includes/footer.html
  hardware/LICENSE
Due: pages

Add license image in footer
  docs/_includes/footer.html
  docs/img/license.svg
  software/usb_descriptors.c
Due: pages
